/*
MXHud CSS by pipz
Name: pipz_
Website: https://seen-t.carrd.co/
Instructions: Click Raw button and right click to press Save as...
*/

/* URL below will update css automatically for you */
@import url(https://seen-t.github.io/MXHud/MXHud.css);

/* Make edits below */
