/* Forced Chat & Spectate on */
#chatUIHolder,
#spectButtonHolder {
    display: block !important
}


/* Menu Cleanup */
#app,
#aHider,
#gameNameHolder,
#signupRewardsButton,
#tlInfHold,
#streamContainer,
#streamContainerNew,
#topLeftAdHolder,
#topRightAdHolder,
#termsInfo span,
#menuClassContainerInner,
.menuItem[onclick*="community"] {
    display: none !important
}
.verticalSeparator {
    visibility: hidden
}
#matchInfoHolder {
    border: 0;
}
#mapInfoHld {
    font-size: 0;
}


/* Menu Styling */
.headerBar,
#menuItemContainer,
.button {
    backdrop-filter: blur(5px)
}
#menuClassContainer,
#subLogoButtons {
    bottom: 20px;
}
#customizeButton {
    width: 360px;
}
#menuBtnQuickMatch,
#menuBtnHost,
#menuBtnBrowser {
    font-size: 0 !important;
}
/*
#menuBtnQuickMatch {
    display: none
}
*/
#menuBtnQuickMatch:before {
    content: "Q-Game";
    font-size: 20.5px
}
#menuBtnHost:before {
    content: "Host";
    font-size: 20.5px;
}
#menuBtnBrowser:before {
    content: "Server";
    font-size: 20.5px;
}


/* Menu Chat */
#uiBase.onMenu #chatHolder {
    right: unset !important;
    left: 150px !important;
    top: unset;
}
#uiBase.onMenu #chatList {
    text-align: left;
}
#uiBase.onMenu .chatItem {
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left: 6px solid goldenrod;
    border-right: 0;
    background: linear-gradient(to left, transparent, rgba(0 0 0 / 80%)) !important;
}
#uiBase.onMenu #chatInput {
    transform: scale(1);
    position: unset;
    text-align: left;
    border: 0;
    border-left: 6px solid cyan;
    margin-left: 8px;
    background: linear-gradient(to left, transparent, rgba(0 0 0 / 80%)) !important;
}


/* Top Left */
#voteToKick,
#matchInfo.topLeftOld,
#timerIcon,
.leaderCounter {
    display: none !important
}
#topLeftHolder {
    position: fixed;
    left: calc(1% + 7px);
    top: calc(1% + 0px);
}
#topLeftData {
    filter: drop-shadow(0 0 0.1rem black);
    width: auto;
    margin-top: 15px;
}
#pingDisplay, #fpsDisplay {
    color: white
}
#timerHolder.topLeftOld {
    background: transparent;
}
#timerInner.topLeftOld {
    background: transparent;
}
#timerVal {
    filter: drop-shadow(0 0 0.1rem black)
}
#leaderboardHolder {
    position: fixed;
    left: calc(1% + 7px);
    top: calc(1% + 73px);
    background: transparent;
}
#leaderContainer {
    border-left: 6px solid goldenrod;
    border-radius: 0;
    background: linear-gradient(to right, rgba(0 0 0 / 80%), transparent);
    backdrop-filter: blur(5px)
}


/* Top Mid */
#topMidHold {
    filter: drop-shadow(0 0 0.1rem black)
}


/* Top Right */
#notificationCenter,
#gameAnnouncementEl,
#chatList::-webkit-scrollbar {
    display: none !important
}
#chatHolder {
    position: fixed;
    left: unset !important;
    right: calc(1% + 7px);
    top: calc(1% + 12px);
}
#chatList {
    border-radius: 0;
    width: 400px;
    background: transparent;
    text-align: right;
}
.chatItem {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0;
    border-right: 6px solid goldenrod;
    text-shadow: unset !important;
    background: linear-gradient(to right, transparent, rgba(0 0 0 / 80%)) !important;
    backdrop-filter: blur(5px);
}
#chatInputHolder {
    background: transparent;
}
#chatInput {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    transform: scale(0);
    transition: all .3s;
    width: 300px;
    position: absolute;
    right: 12px;
    text-align: right;
    border: 0;
    border-right: 6px solid cyan;
    border-radius: 0;
    background: linear-gradient(to right, transparent, rgba(0 0 0 / 80%)) !important;
}
#chatInput:focus {
    padding: 8px 16px;
    transform: scale(1)
}
.weaponChatIcon,
.meleeChatIcon,
.thrownChatIcon,
.fistChatIcon,
.headShotChatIcon,
.streakChatIcon {
    opacity: 1 !important;
}


/* Bottom Left */
#bottomLeftPlayerLeft,
#bottomLeftTeamHolder,
#bottomLeftChallIcon {
    display: none !important
}
#bottomLeftHolder {
    border-radius: 6px 6px 6px 6px;
    position: fixed;
    left: calc(1% + 7px);
    bottom: calc(1% + 25px);
}
#bottomLeftPlayerLeft {
    background: transparent
}
#bottomLeftPlayer {
    border-radius: 0;
    width: 300px;
    height: 90px;
    background: linear-gradient(to bottom, transparent, rgba(0 0 0 / 80%));
    backdrop-filter: blur(5px);
}
#bottomLeftHealthBar {
    position: absolute;
    bottom: 0;
    width: 300px;
    padding: unset;
    column-gap: unset;
    background-color: var(--div-black);
    border-radius: 0;
}
.nHealthBarSeg {
    height: 18px;
}
.nHpBSeg {
    border-radius: 0;
}
#bottomLeftPlayerRight {
    background: transparent;
}
#bottomLeftHealth {
    position: absolute;
    left: 65px;
    bottom: 20px;
    font-size: 32px
}
#bottomLeftHealth:before {
    content: "";
    background-image: url(https://krunker.io/img/hp_0.png);
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
    position: absolute;
    left: -55px;
    bottom: 5px;
}
#perkHolder,
#powerUpHolder,
#krTagHolder,
#bhHolder, 
#giftTagHolder,
.killStreakKey {
  display: none !important;
}
#killStreakHolder {
    position: fixed;
    transform: unset;
    left: calc(1% + 10px);
    bottom: calc(1% + 110px);
    filter: drop-shadow(0 0 0.1rem black);
}
.killStreakItem {
    background: transparent;
    border: 0;
}
.killStreakItemInner {
    background: transparent
}
.killStreakCnt {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#teamScores {
    position: fixed;
    left: calc(1% + 305px);
    bottom: calc(1% + 25px);
    background: transparent;
    filter: drop-shadow(0 0 0.1rem black);
}
.tScoreC {
    width: 22px;
    height: 22px;
}


/* Bottom Mid */
#reloadMsg {
    background: linear-gradient(to bottom, transparent, rgba(0 0 0 / 80%));
    border: 0;
    border-bottom: 8px solid white;
    border-radius: 0;
    backdrop-filter: blur(5px)
}


/* Bottom Right */
.weapKey,
.weapSkin,
.weapStreakHolder,
#ammoMax,
#ammoIcon {
    display: none !important
}
.weapItemInner {
    background: transparent
}
.weapItem {
    transition: all .3s;
    opacity: 0 !important;
    position: fixed;
    right: calc(1% + 155px);
    bottom: calc(1% + 13px);    
    background: transparent;
}
.weapItem[style="opacity: 1;"] {
    opacity: 1 !important
}
.weapIcon {
    transform: scale(1.1)
}
#weapHolder {
    position: fixed;
    right: calc(1% + 7px);
    bottom: calc(1% + 25px);
    width: 300px;
    height: 94px;
    background: linear-gradient(to bottom, transparent, rgba(0 0 0 / 80%));
    backdrop-filter: blur(5px);
    border-radius: 0;
}
#ammoHolder {
    position: fixed;
    right: calc(1% + 7px);
    bottom: calc(1% + 25px);
    transform: unset;
    width: 300px;
    height: 18px;
    border-radius: 0;
    background-image: linear-gradient(to right, white, white);
}
#ammoHolder[style="background-size: 0%; display: inline-block;"] {
    background-size: 100% !important
}
#ammoVal {
    width: 80px;
    font-size: 32px;
    position: absolute;
    top: -60px;
    right: 52px;
}
#ammoVal:before {
    content: "";
    background-image: url(https://assets.krunker.io/textures/ammo_0.png?build=5Uq52IsORuajBVPr2jaxO9AvXjL4kPK4);
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
    position: absolute;
    right: -38px;
    bottom: 0;
}
.topRightCounters {
    position: fixed;
    transform: unset;
    right: calc(1% + 7px);
    bottom: calc(1% + 100px);
    filter: drop-shadow(0 0 0.1rem black);
    display: flex;
    flex-direction: row-reverse
}
.statIcon {
    background: transparent;
}


/* Center */
.centerLeaderContainer,
.newLeaderTeam {
    background: transparent
}
.centerLeaderContainerInner {
    border: 0;
    backdrop-filter: blur(5px);
    background: radial-gradient(ellipse at center, transparent, black);
}
#ingameTable th {
    border: 0;
}


/* Death UI */
.death-ui-bottom,
.death-ui-bottom-empty {
    background: radial-gradient(ellipse at center, transparent, black);
    backdrop-filter: blur(5px) !important
}


/* End UI */
#endAHolderL,
#endAHolderR,
#matchEndSignupIncentives {
    display: none !important
}
.endCard {
    background: radial-gradient(ellipse at center, transparent, black);
    backdrop-filter: blur(5px);
}
#doubleXPButton{
    background: radial-gradient(ellipse at center, transparent, black);
    backdrop-filter: blur(5px);
    transition: .4s
}
#doubleXPButton:hover {
    background-color: rgba(0, 0, 0, 0.75);
}
.teamTotals,
#tabHolder,
#endTable,
#kdLayout,
.crStat,
.endSection {
    background: transparent;
    border-color: transparent;
}
.teamTotals,
.matchVote {
    border-color: transparent !important;
    filter: drop-shadow(0 0 0.1rem black)
}


/* Grey Inners */
.greyInner,
.greyInlineInner,
.greyInlineInnerMid {
  background: transparent;
}
.greyInlineInner {
  display: none;
}


/* Watermark */
#termsInfo {
    position: fixed;
    bottom: -10px;
    right: 15px;
    padding: unset;
    height: 50px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    background: transparent;
}
#termsInfo:before {
    content: "MXHud by pipz";
    font-size: 12px;
    color: rgba(255 255 255 / 50%);
    filter: drop-shadow(0 0 0.1rem black)
}
